<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/Login-Form-Dark.css">
</head>

<body>
    <section class="login-dark">
        <form method="post" id="main_form" action="#">
            {% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                    {% block javascript %}
                        <script type="text/javascript">alert("{{ message }}");</script>
                    {% endblock %}
                {% endfor %}
            {% endif %}
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><img src="../../static/img/aero.png" alt="."></div>
            <div class="form-group"><input class="form-control" type="email" name="email" autocomplete="email" placeholder="Email"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" autocomplete="current-password" placeholder="Password"></div>
            <div class="form-group form-check"><input class="form-check-input" id="remember me" type="checkbox" name="remember me" placeholder="Rember Me"><label class="form-check-label" for="remember me">Remember Me</label></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Log In</button></div><i class="forgot"><a href="{% url 'reset' %}">Forgot your password?</a> or <a href="{% url 'register' %}">Sign up</a></i>
        </form>
    </section>
    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
</body>
</html>