<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>

    <div class="img2">
        <img src="{% static 'images/fly.png' %}" alt=".">
    </div>
    <div class="img1">
        <img src="{% static 'images/ppl.png' %}" alt=".">
    </div>

    <div class="container">
        <h2>SIGN IN</h2>
        <hr>
        <form action="#" method="POST">
            {% csrf_token %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            <div class="login_details">
                <div class="abc"> <input type="email" name="email" placeholder="Email"> </div>
            </div>
            <div class="login_details">
                <div class="abc"><input type="password" name="password" placeholder="Password"></div>
            </div>
            <div class="abc">
                <div>
                    <input type="checkbox" id="remember me">
                    <label for="checkbox">Remember me</label>
                </div>
                <div>
                    <a href="{% url 'reset' %}">Forgot Password?</a>
                </div>
            </div>
            <button class="sub" type="submit">SUBMIT</button>
            <div class="signup">Don't have an account?<a href="{% url 'register' %}"> Sign up </a></div>
        </form>


    </div>
</body>

</html>