<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/Login-Form-Dark.css">
</head>
<body>
<section class="login-dark">
    <form id="main form" method="post" action="#" style="max-width: 350px">
        {% csrf_token %}
        <div class="form-group"><h3 class="text-center">Create Account</h3><br></div>
        <div id="before otp">
            <div class="form-group"> <input class="form-control" type="text" name="username" id="username" autocomplete="new-username" placeholder="Username"></div>
            <div class="form-group"> <input class="form-control" type="email" name="email" id="email" placeholder="Email" autocomplete="email"></div>
            <div class="form-group"> <input class="form-control" type="password" name="password1" id="password1" autocomplete="new-password" placeholder="Password" onkeyup="checkstrength()"><i id="strength"></i></div>
            <div class="form-group"> <input class="form-control" type="password" name="password2" id="password2" autocomplete="new-password" placeholder="Confirm Password" onkeyup="matchpassword()"><i id="match"></i></div>
        </div>
        <div id="after otp" hidden>
            <div id="afte opt message" class="form-group text-center"> An otp has been sent to <a href="mailto:"> which is valid foe 2 minutes.</a></div>
            <div class="form-group"><input class="form-control" type="text" name="otp" id="otp" placeholder="OTP"></div>
            <div class="form-group"><input class="btn btn-secondary btn-block" type="button" value="Resend Otp" id="resend" disabled onclick="firstcall()"></div>
        </div>
        <div class="form-group"><input class="btn btn-primary btn-block" type="button" id="sub" value="Submit" onclick="firstcall()"></div>
        <i class="forgot">Already have account <a href="{% url 'login' %}">Sign in</a></i>
    </form>
</section>
<footer>
    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/js/preajax.js"></script>
    <script type="text/javascript" src="../../static/js/signup.js"></script>
</footer>
</body>
</html>