<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>
    <form method="post" action="#">
        {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
                {% block javascript %}
                    <script type="text/javascript">alert('{{ message }}');console.log(123);</script>
                {% endblock %}
            {% endfor %}
        {% endif %}
        <label for="email">Email: </label> <input type="email" name="email" id="email"><br><br>
        <input type="submit">
    </form>
</body>
</html>