<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Reset Password</title>
    <link rel="stylesheet" href="../../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../static/css/Login-Form-Dark.css">
</head>
<body>
<section class="login-dark">
    <form action="#" method="post" id="main_form" style="min-width: 390px">
        {% csrf_token %}
        <h3 class="text-center">Reset Password</h3>
        <br>
        <div class="form-group"><input class="form-control" type="password" autocomplete="new-password" placeholder="New Password" name="password1" id="password1" onkeyup="checkstrength()"><i id="strength"></i></div>
        <div class="form-group"><input class="form-control" type="password" autocomplete="new-password" placeholder="Confirm Password" name="password2" id="password2" onkeyup="matchpassword()"><i id="match"></i></div>
        <input type="button" class="btn btn-primary btn-block" value="Submit" onclick="submit_form()">
    </form>
</section>
<footer>
    <script src="../../../static/js/jquery.min.js"></script>
    <script src="../../../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../static/js/passwordmatch.js"></script></footer>
</body>
</html>