<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    {% load static %}
    <script type="text/javascript" src="{% static 'js/passwordmatch.js' %}"></script>
</head>
<body>
    <form action="#" method="post" id="main_form">
        {% csrf_token %}
        <label for="password1">New Password: </label> <input type="password" name="password1" id="password1" onkeyup="checkstrength()"><br>
        <div id="strength"></div><br>
        <label for="password1">Re Enter New Password: </label> <input type="password" name="password2" id="password2" onkeyup="matchpassword()"><br>
        <div id="match"></div><br>
        <input type="button" value="Submit" onclick="submit_form()">
    </form>
</body>
</html>