.no-margin li, .no-margin ul {
    margin: 0 !important;
    padding: 0 !important;
}

div.MuiPopover-root:nth-child(4) > div:nth-child(3) {
    border-radius: var(--bs-border-radius-lg) !important;
}