<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="chat.css">
</head>
<body>
<div id="alignL">
             <div class="head">
                 <div class="head_details"> Conversations</div>
             </div>
                 <div class="friends">
                     <div class="friends_head"><div class="head_details"> Friends</div></div>
                     <div class="friends_chat" onclick="move(this)">
                        <img class="friends_photo" src="C:\Users\nikhi\Downloads\simmi.png">
                        <div class="friends_username">ThisIsn't Me</div>
                        <div class="friends_usermessage">Yo!</div>
                        <hr>
                     </div>
                     <div class="friends_chat" onclick="move(this)">
                        <img class="friends_photo" src="C:\Users\nikhi\Downloads\tenor_2.gif">
                        <div class="friends_username">nikhilgangrial</div>
                        <div class="friends_usermessage">Hello there!</div>
                        <hr>
                    </div>
                     <div class="friends_chat" onclick="move(this)">
                        <img class="friends_photo" src="C:\Users\nikhi\Downloads\tenor_2.gif">
                        <div class="friends_username">nikhilgangrial</div>
                        <div class="friends_usermessage">Hello there!</div>
                        <hr>
                    </div>
                     <div class="friends_chat" onclick="move(this)">
                        <img class="friends_photo" src="C:\Users\nikhi\Downloads\tenor_2.gif">
                        <div class="friends_username">nikhilgangrial</div>
                        <div class="friends_usermessage">Hello there!</div>
                        <hr>
                    </div>
                     <div class="friends_chat" onclick="move(this)">
                        <img class="friends_photo" src="C:\Users\nikhi\Downloads\tenor_2.gif">
                        <div class="friends_username">nikhilgangrial</div>
                        <div class="friends_usermessage">Hello there!</div>
                        <hr>
                    </div>
                     <div class="friends_chat" onclick="move(this)">
                        <img class="friends_photo" src="C:\Users\nikhi\Downloads\tenor_2.gif">
                        <div class="friends_username">nikhilgangrial</div>
                        <div class="friends_usermessage">Hello there!</div>
                        <hr>
                    </div>
                     <div class="friends_chat" onclick="move(this)">
                        <img class="friends_photo" src="C:\Users\nikhi\Downloads\tenor_2.gif">
                        <div class="friends_username">nikhilgangrial</div>
                        <div class="friends_usermessage">Hello there!</div>
                        <hr>
                    </div>
                     <div class="friends_chat" onclick="move(this)">
                        <img class="friends_photo" src="C:\Users\nikhi\Downloads\tenor_2.gif">
                        <div class="friends_username">nikhilgangrial</div>
                        <div class="friends_usermessage">Hello there!</div>
                        <hr>
                    </div>
                     <div class="friends_chat" onclick="move(this)">
                        <img class="friends_photo" src="C:\Users\nikhi\Downloads\tenor_2.gif">
                        <div class="friends_username">nikhilgangrial</div>
                        <div class="friends_usermessage">Hello there!</div>
                        <hr>
                    </div>
                     <div class="friends_chat" onclick="move(this)">
                        <img class="friends_photo" src="C:\Users\nikhi\Downloads\tenor_2.gif">
                        <div class="friends_username">nikhilgangrial</div>
                        <div class="friends_usermessage">Hello there!</div>
                        <hr>
                    </div>
                     <div class="friends_chat" onclick="move(this)">
                        <img class="friends_photo" src="C:\Users\nikhi\Downloads\tenor_2.gif">
                        <div class="friends_username">nikhilgangrial</div>
                        <div class="friends_usermessage">Hello there!</div>
                        <hr>
                    </div>
                     <div class="friends_chat" onclick="move(this)">
                        <img class="friends_photo" src="C:\Users\nikhi\Downloads\tenor_2.gif">
                        <div class="friends_username">nikhilgangrial</div>
                        <div class="friends_usermessage">Hello there!</div>
                        <hr>
                    </div>
                     <div style="margin: 5vh 0; order: 1000001;"></div>
                 </div>
            </div>

</body>
</html>