<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ui.css">
    <title>ui</title>
</head>
<body>
    <div style="position: absolute; z-index: 5; font-size: max(2.15vw, 4vh);"> CHATTERBOX</div>
    <div class="container">
        <div id="alignL">
             <div class="head"> 
                 <div class="head_details"> Conversations</div>
             </div>
                 <div class="friends">
                     <div class="friends_head"><div class="head_details"> Friends</div></div>
                    <div class="chat">
                        <div class="photo"></div>
                        <hr>
                    </div>
                 </div>
            </div>
    <div id="alignC">
        <div id="nav">
            <input type="text" placeholder=" Search">
            <button>
                <svg focusable="false" viewBox="0 0 24 24">
                    <path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                </svg>
            </button>
        </div>
        <div class="feed">

        </div>
    </div>
    <div id="alignR">
        <div class="head"> <div class="head_details"> Notifications</div></div>
        <div class="notif">

        </div>
    </div>
    </div>

</body>
</html>