<!DOCTYPE html>
<html style="height: 100%" lang="en" class="no-scroll">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Chat</title>
    <link rel="stylesheet" href="../../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../static/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="../../../static/css/chat.css">
    <link rel="shortcut icon" href="../../../static/favicon.ico">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body style="height: 100%" class="login-dark no-copy no-scroll">
{# Expande image container #}
<div hidden id="big-image-container">
    <span onclick="revert_big_image();" class="closebtn">&times;</span>
    <div id="inner-big-image-group">
        <img id="expandedImg" src="" alt="">
        <a id="open-orignal-link" target="_blank"><u>Open Orignal</u></a>
    </div>
</div>

{# modal form confirm delete #}
<div id="modal-confirm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div style="border-radius: 0.75rem; background: transparent;" class="modal-dialog modal-dialog-centered" role="document">
        <div style="background: transparent;" class="modal-content">
            <div style="background:#1b1e21;" class="modal-header">
                Delete message
            </div>
            <div style="background:#1b1e21;" class="modal-body">Are you sure you want to delete this message?</div>
            <div style="background:#1b1e21;" class="modal-footer">
                <button style="flex: 1" type="button" id="modal-confirm-yes" data-dismiss="modal" class="btn btn-danger">Delete</button>
                <button style="flex: 1; background:#252528;" type="button" id="modal-confirm-no" data-dismiss="modal" class="btn btn-dark">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div style="min-width: min(100vh, 95vw);" class="container no-scroll" id="main-content">

    <!-- Page header start -->
    <div class="page-title no-scroll">
        <div style="margin: auto" class="row gutters">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12">
                <h5 class="title">Chat App</h5>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12"> </div>
        </div>
    </div>
    <!-- Page header end -->

    <!-- Content wrapper start -->
    <div style="border-radius: 0.5rem; min-width: min(90vh, 95vw)" class="content-wrapper no-scroll">

        <!-- Row start -->
        <div style="margin: auto" class="row gutters">

            <div style="padding: 0" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 min-14">

                <div style="border-radius: 0.5rem" class="card m-0 min-14">

                    <!-- Row start -->
                    <div class="row no-gutters min-14">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-xs-3 col-3 min-14">
                            <div class="users-container min-14">
                                <div class="chat-search-box">
                                    <div class="input-group">
                                        <input style="border-radius: 0.75rem 0 0 0.75rem" class="form-control" placeholder="Search">
                                        <div class="input-group-btn">
                                            <button style="background: dodgerblue; border-radius: 0 0.75rem 0.75rem 0" type="button" class="btn">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <ul class="users">
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-xs-9 col-9 min-14">
                            <div style="position: relative" class="selected-user">
                                <span style="order: 1;">To: <span class="name">Comp - B</span></span>
                                <div style="order: 2;display: flex;visibility: hidden">
                                    <span style="z-index: 45" data-type="copy">
                                        <span style="visibility: hidden; background: rgb(2 2 2);border-radius: 0.5rem; position: absolute;z-index: 51;opacity: 0.85;font-size: 0.8rem;padding: 0.75rem;bottom: -3rem; left: 0;"><i style="font-size: 1.1rem" class="fa fa-clipboard-check"></i><span> Copied to Clipboard!</span></span>
                                        <i class="fa fa-copy"></i>
                                    </span>
                                    <span data-type="delete">
                                        <i class="fa fa-trash-alt"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-share"></i>
                                    </span>
                                    <span data-type="cancel">
                                        <i class="fa fa-times"></i>
                                    </span>
                                </div>
                            </div>
                            <div style="min-width: 10rem; min-height: 13.75rem; padding-right: 0" class="chat-container">
                                <div style="position: relative" class="chatContainerScroll">
                                    <span id="chat-bottom-scroll" style="visibility: hidden; background: #111111; opacity: 0.9; position: absolute; right: 1.25rem; bottom: 2rem; z-index: 45; width: 1.75rem; height: 1.75rem; border-radius: 50%">
                                        <i style="transform: scale(1.2); width: 100%; text-align: center;text-align: center; vertical-align: middle; margin: auto 0;" class="fa fa-angle-down"></i>
                                    </span>
                                <ul class="chat-box no-copy" id="chat-log">
                                    <br>
                                    <div id="chat-spinner" class="d-flex justify-content-center">
                                        <div style="margin-bottom: 2rem;" class="spinner-border" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                </ul>
                                </div>
                                <div style="margin-top: 0.5rem; margin-right: 0.5rem" class="form-group mb-0" id="input-group">
                                    <div class="publisher">
                                        <button style="transform: scale(1.5)" class="publisher-btn" id="emojibutton" data-abc="true">
                                            <i style="color: #f3d300; background: black; border-radius: 50%" class="fa fa-smile-beam"></i>
                                        </button>
                                        <div class="publisher-input" contenteditable="true" data-placeholder="Write message..." id="chat-message-input"></div>
                                        <a style="transform: scale(1.2); overflow: visible" class="publisher-btn file-group" id="file-group">
                                            <i style="color: #1b1e21;" class="fa fa-paperclip"></i>
                                            <input style="display: none" name="imagefile[]" multiple hidden type="file" id="file-select-button" accept="image/jpeg, image/png, image/gif, image/tiff, video/mp4, video/mpeg, video/webm, video/quicktime" onchange="uploadPhotos('https://api.imgur.com/3/upload')">
                                        </a>
                                        <a style="transform: scale(1.2)" class="publisher-btn text-info" id="chat-message-submit" data-abc="true">
                                        <i style="color: dodgerblue" class="fa fa-paper-plane"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Row end -->
                </div>
            </div>
        </div>
        <!-- Row end -->
    </div>
    <!-- Content wrapper end -->
{{ room_name|json_script:"room-name" }}
</div>

<div class="ctx-menu" style="display: none">
    <div class="ctx-option">
        <span class="ctx-option-icon fa fa-copy"></span><span class="ctx-option-name">Copy</span>
    </div>
    <hr>
    <div class="ctx-option">
        <span class="ctx-option-icon fa fa-paste"></span><span class="ctx-option-name">Paste</span>
    </div>
    <hr>
    <div class="ctx-option-danger">
        <span class="ctx-option-icon fa fa-trash-alt"></span><span class="ctx-option-name">Delete</span>
    </div>
</div>

<script src="../../../static/js/jquery.min.js"></script>
<script src="../../../static/js/pre-ajax.js"></script>
<script src="../../../static/js/chat.js"></script>
<script src="../../../static/js/uploadfromchat.js"></script>
<script src="../../../static/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../../../static/jquery-emoji-picker-master/css/jquery.emojipicker.tw.css">
<script src="../../../static/js/chat-helper.js"></script>
<link rel="stylesheet" href="../../../static/jquery-emoji-picker-master/css/jquery.emojipicker.css">
<script type="text/javascript" src="../../../static/jquery-emoji-picker-master/js/jquery.emojis.js"></script>
<script type="text/javascript" src="../../../static/jquery-emoji-picker-master/js/jquery.emojipicker.js"></script>
<script src="../../../static/js/jquery.caret.js"></script>
<script>
    let messinp = $("#chatapi-message-input");
    messinp.emojiPicker({button: false, position: 'top'});
</script>
</body>
</html>